<template>
  <div class="home">
    <Coupons />
  </div>
</template>

<script>
// @ is an alias to /src
import Coupons from "@/components/Coupons/Coupons.vue";
export default {
  components: {
    Coupons,
  },
};
</script>
