<template>
  <div class="coupon">
    <el-card class="coupon-item card-box">
      <div class="coupon-item__header">
        <div class="coupon-header__image">
          <img :src="image" alt="coupon-image" />
        </div>
      </div>
      <div class="coupon-item__body">
        <div class="coupon-body__title">
          <el-link @click="$router.push({ name: 'couponsItem', params: { id: id } })">
            <span>{{ title }}</span>
          </el-link>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    dialogFormVisible: false,
  }),

  props: {
    id: Number,
    image: String,
    title: String,
    description: String,
  },
};
</script>

<style>
</style>