<template>
  <div class="coupon-page">
    <div class="container">
      <div class="wrapper">
        <div class="title">
          <span>Coupons</span>
        </div>
        <div class="coupon-wrapper">
          <div
            class="coupon-box"
            v-for="(elem, index) in couponList"
            :key="index"
            @click="openModal(elem)"
          >
            <coupon-item
              :id="elem.id"
              :image="elem.image"
              :title="elem.title"
            ></coupon-item>
          </div>
        </div>
        <div
          class="modal-box"
          v-if="dialogFormVisible"
          @close="dialogFormVisible = false"
          :data="modalData"
        >
          <el-dialog :visible.sync="dialogFormVisible">
            <div class="type-box">
              <div class="title">
                <span>Choose the type of service</span>
              </div>
              <div class="types">
                <div class="lead-in">
                  <el-link @click="$router.push({ name: 'leadIn' })"
                    >Input</el-link
                  >
                </div>
                <div class="icon">
                  <i class="el-icon-minus"></i>
                </div>
                <div class="lead-out">
                  <el-link @click="$router.push({ name: 'leadOut' })">Output</el-link>
                </div>
              </div>
            </div>
          </el-dialog>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CouponItem from "./CouponsItem.vue";
export default {
  data: () => ({
    dialogFormVisible: false,
    modalData: null,

    couponList: [
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/aliexpress.png"),
        title: "AliExpress",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/hotline.png"),
        title: "HotLine",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/proizd.png"),
        title: "Proizd.ua",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/creditup.png"),
        title: "Credit Up",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/parfumcity.png"),
        title: "Parfum City",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/yakaboo.png"),
        title: "Yakaboo",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/yves-rocher.png"),
        title: "Yves Rocher",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/maudau.png"),
        title: "Maudau",
      },
      {
        id: Math.floor(Math.random() * 1000) + 1,
        image: require("./img/bookovka.png"),
        title: "Bookovka",
      },
    ],
  }),

  methods: {
    openModal(data) {
      this.modalData = data;
      this.dialogFormVisible = true;
    },
  },

  components: {
    CouponItem,
  },
};
</script>

<style lang='scss' src='./styles.scss'>
</style>