.coupon-page {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px 0 50px 0;
  .container {
    .wrapper {
      .title {
        display: flex;
        justify-content: center;
        span {
          font-size: 36px;
          font-weight: 100;
        }
      }

      .coupon-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .coupon-box {
          .coupon {
            .coupon-item {
              cursor: pointer;
              width: 300px;
              height: 150px;
              transition: 0.5s ease-out;
              .el-card__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                .coupon-item__header {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .coupon-header__image {
                    img {
                      width: 150px;
                    }
                  }
                }

                .coupon-item__body {
                  .coupon-body__title {
                    text-align: center;
                    span {
                      font-size: 16px;
                    }
                  }

                  .coupon-body__description {
                    text-align: center;
                    span {
                      font-size: 14px;
                    }
                  }
                }
              }
              &:hover {
                box-shadow: 0 2px 12px 0 #a0cfff;
              }
            }
          }
        }
      }

      .modal-box {
        .el-dialog__wrapper {
          .el-dialog {
            width: 300px;
            .el-dialog__header {

            }
            
            .el-dialog__body {
              .el-form {
                .el-form-item {
                  margin-bottom: 5px;
                  .el-form-item__content {
                    .el-button {
                      width: 100%;
                    }
                  }
                }
              }

              .type-box {
                .title {
                  text-align: center;
                  span {
                    font-size: 14px;
                  }
                }

                .types {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-top: 2 0px;
                  .icon {
                    .el-icon-minus  {
                      transform: rotate(115deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
