.lead-in-page {
  width: 100%;
  padding: 40px 0;
  .title {
    text-align: center;
    span {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .form-box {
    width: 300px;
    margin: 20px auto;
    .el-card__body {
      .el-form {
        .el-form-item {
          margin-bottom: 20px;
          .el-form-item__content {
            .el-button {
              width: 100%;
            }
          }
        }
        .hide-form-item {
          display: none;
        }
      }
    }
  }
}
