<template>
  <div id="app">
    <!-- <transition name="el-fade-in"> -->
      <router-view></router-view>
    <!-- </transition> -->
  </div>
</template>

<style lang='scss'>
  #app {
    display: flex;
    width: 100%;
    min-height: 100vh;

    .home {
      width: 100%;
    }
  }
</style>
