<template>
  <div class="lead-in-page">
    <div class="title">
      <span>Output</span>
    </div>
    <el-card class="card-box form-box">
      <el-form :model="form" status-icon ref="form">
        <el-form-item
          prop="fullname"
          :rules="[
            {
              required: true,
              message: 'This field is required',
            },
          ]"
        >
          <el-input
            autocomplete="off"
            placeholder="Enter your full name"
            v-model="form.fullname"
            size="small"
          ></el-input>
        </el-form-item>
        <el-form-item
          prop="email"
          :rules="[
            {
              required: true,
              message: 'This field is required',
            },
          ]"
        >
          <el-input
            autocomplete="off"
            placeholder="Enter your email"
            v-model="form.email"
            size="small"
          ></el-input>
        </el-form-item>
        <el-form-item
          prop="discountCode"
          :rules="[
            {
              required: true,
              message: 'This field is required',
            },
            {
              type: 'number',
              message: 'This field must contain numbers',
            },
          ]"
        >
          <el-input
            placeholder="Enter discount code"
            v-model.number="form.discountCode"
            size="small"
          ></el-input>
        </el-form-item>
        <el-form-item
          prop="sum"
          :rules="[
            {
              required: true,
              message: 'This field is required',
            },
            {
              type: 'number',
              message: 'This field must contain numbers',
            },
          ]"
        >
          <el-input
            placeholder="Enter sum"
            v-model.number="form.sum"
            size="small"
          ></el-input>
        </el-form-item>
        <el-form-item class="hide-form-item">
          <el-input size="small" v-model="form.typeCode"></el-input>
        </el-form-item>
        <el-form-item class="send-btn">
          <el-button size="small" type="default" @click="submitForm('form')"
            >Send</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      form: {
        fullname: "",
        discountCode: "",
        email: "",
        sum: "",
        typeCode: "Тип услуги - Вывод",
      },
    };
  },

  methods: {
    ...mapActions("users", ["sendData"]),

    submitForm(formName) {
      const userInfo = {
        fullname: this.form.fullname,
        discountCode: this.form.discountCode,
        sum: this.form.sum,
        typeCode: this.form.typeCode,
      };

      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.sendData(userInfo);
          this.$message({
            message: "Ваши данные успешно отправились!",
            type: "success",
          });

          this.$refs[formName].resetFields();

          console.log(userInfo);
        } else {
          this.$message.error(
            "Что-то произошло не так, проверьте корректность своих данных"
          );
          return false;
        }
      });
    },
  },
};
</script>

<style lang='scss' src='./styles.scss'>
</style>